/*
   Tuesday, January 11, 20113:30:03 AM
   User: 
   Server: ROBPERSON-PC\SQLEXPRESS
   Database: CMSData
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Invitations
	(
	InvitationID uniqueidentifier NOT NULL,
	SiteID uniqueidentifier NOT NULL,
	SiteAccessLevel tinyint NOT NULL,
	CourseTermID uniqueidentifier NULL,
	CourseTermAccessLevel tinyint NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Invitations ADD CONSTRAINT
	PK_Invitations PRIMARY KEY CLUSTERED 
	(
	InvitationID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.Invitations', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Invitations', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Invitations', 'Object', 'CONTROL') as Contr_Per 